@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/notification.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icons-row.css";
@import "components/back-screen-header.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

.main-screen {
  padding-top: 100px;
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
}

a {
  color: inherit;
  text-decoration: none;
}

#only-mobile {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

@media screen and (max-width: 650px) {
  #only-mobile {
    display: none;
  }
}
