#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

.chat-back-screen,
.chat-status-bar {
  background-color: #abc1d1;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-screen__time {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
}

.main-screen__messages {
  width: 100%;
}

.messages__message {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.messages__message img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 30%;
  margin-right: 10px;
}

.message__user-name {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9rem;
  opacity: 0.5;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__info__chatting {
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  border-top-left-radius: 0px;
}

.message__info__time {
  font-size: 0.9rem;
  opacity: 0.5;
  margin-left: 6px;
}

.message--own .message__info {
  flex-direction: row-reverse;
}

.message--own .message__info__chatting {
  background-color: var(--yellow);
}

.message--own .message__info__chatting {
  border-radius: 12px;
  border-top-right-radius: 0%;
}

.message--own .message__info__time {
  margin-right: 6px;
}

.message--own {
  justify-content: flex-end;
}

.message-input {
  display: flex;
  position: fixed;
  bottom: 0%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.message-input__column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-input__column:nth-child(2) {
  width: 90%;
  position: relative;
  display: flex;
}

.message-input__column input {
  width: 100%;
  padding: 12px;
  border-radius: 1.5rem;
  border: var(--hazy-border);
}

.input__column__icons {
  position: absolute;
  right: 10px;
  top: 3.5px;
  display: flex;
}

.input__column__icons button {
  border: none;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.message-input i {
  opacity: 0.6;
}
.input__column__icons button > i {
  opacity: 1;
}
