.settings-setting {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.settings-setting i {
  width: 30px;
}

.settings-setting span {
  font-size: 1.5rem;
  margin-left: 20px;
}

.settings-setting span:nth-child(3) {
  position: absolute;
  right: 0px;
  opacity: 0.5;
}
