.nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.nav__btn {
  display: flex;
  justify-content: center;
}

.nav__link {
  color: #2e363e;
  text-decoration: none;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
}

.nav__notification--message {
  width: 20px;
  height: 20px;
  left: 13px;
  top: -12px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.nav__notification--dot {
  right: -6px;
  top: -3px;
}
