.nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.nav__btn {
  display: flex;
  justify-content: center;
}

.nav__link {
  color: #2e363e;
  text-decoration: none;
  position: relative;
}
