@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}

.notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: notificationAnimation 1.5s ease-in-out infinite;
}

.notification--position {
  position: absolute;
  right: -6px;
  top: -4.5px;
}

.notification--message {
  width: 20px;
  height: 20px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.notification--message--position {
  position: absolute;
  left: 13px;
  top: -12px;
}
